<a href="https://colab.research.google.com/github/PigeonLore/Proj2/blob/main/Proj2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [451]:
import numpy as np
import pandas as pd
import seaborn as sns
from google.colab import drive
import matplotlib.pyplot as plt
import re

from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV

from sklearn.metrics import accuracy_score, precision_score, recall_score, classification_report, ConfusionMatrixDisplay

from sklearn.dummy import DummyClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

from sklearn.linear_model import LogisticRegression

from imblearn.over_sampling import SMOTE, RandomOverSampler
from imblearn.under_sampling import RandomUnderSampler

In [452]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

###### Custom Functions

In [453]:
'''
Running this function will loop through all rows in the specified column
and remove ascii characters (excluding decimal points) from values.

'''

def clean_cols(df, col):
    
    # Loop through columns within the dataframe for the length of rows in the specified column
    for i in range(len(df[col])):

        # Search for and resub values within the cell respective to the index
        num = re.sub(r'[^0-9\.]+','', df[col][i])  
        
        # Assigns new value to the cell of the respective index 
        df[col][i] = float(num)
        
    return df

In [454]:
'''
Running this function will loop through all rows in the specified column and returns
the values that contains an ascii character (excluding decimal points)

'''

def search_cols(df, col):
    
    # Loop through columns within the dataframe for the length of rows in the specified column
    for i in range(len(df[col])):

        # Search for values within the cell respective to the index
        num = re.search(r'[^0-9\.]+','', df[col][i])  
        
    return df

In [455]:
from IPython.core.debugger import coloransi
'''
This function loops through the dataframe columns and prints the 
data type, column name, and unique elements within the column.

There are three kwargs; 

col allows the user to specify the column of interest,

show_count will toggle the value_counts function, 

sort_values sorts the data in ascending order.

'''

def LU(df, col=None, show_count=False, sort_values=False):

    if col != None:
        unique_vals = df[col].unique()
        if sort_values:
            unique_vals = sorted(unique_vals) 

        print(df[col].dtype,
              '\n',
              col, 
              unique_vals,
              df[col].value_counts() if show_count else "",
              '\n'
              )
    else:
        for i in df.columns:
            unique_vals = df[i].unique()
            if sort_values:
                unique_vals = sorted(unique_vals)

            print(df[i].dtype,
                  '\n',
                  col,
                  unique_vals,
                  df[i].value_counts() if show_count else "",
                  '\n'
                  )

# Adult Earnings (Classification)

In [456]:
df1 = pd.read_csv('/content/drive/MyDrive/Data/adult.csv')

In [457]:
df1.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [458]:
row, col = df1.shape

print(f'Number of rows: {row}\nNumber of columns: {col}')

Number of rows: 48842
Number of columns: 15

In [459]:
# Display missing values:

df1.isna().any().sum()

0

In [460]:
# Display duplicated values:

df1.duplicated().sum()

52

In [461]:
# Display count of rows and columns

row, col = df1.shape

print(f'Number of rows: {row}\nNumber of columns: {col}')

Number of rows: 48842
Number of columns: 15

In [462]:
# Assess the dtype, unique values, and ammount of unique values within each column

LU(df1)

int64
 None [25 38 28 44 18 34 29 63 24 55 65 36 26 58 48 43 20 37 40 72 45 22 23 54
 32 46 56 17 39 52 21 42 33 30 47 41 19 69 50 31 59 49 51 27 57 61 64 79
 73 53 77 80 62 35 68 66 75 60 67 71 70 90 81 74 78 82 83 85 76 84 89 88
 87 86]

object
 None ['Private' 'Local-gov' '?' 'Self-emp-not-inc' 'Federal-gov' 'State-gov'
 'Self-emp-inc' 'Without-pay' 'Never-worked']

int64
 None [226802  89814 336951 ... 129912 255835 257302]

object
 None ['11th' 'HS-grad' 'Assoc-acdm' 'Some-college' '10th' 'Prof-school'
 '7th-8th' 'Bachelors' 'Masters' 'Doctorate' '5th-6th' 'Assoc-voc' '9th'
 '12th' '1st-4th' 'Preschool']

int64
 None [ 7  9 12 10  6 15  4 13 14 16  3 11  5  8  2  1]

object
 None ['Never-married' 'Married-civ-spouse' 'Widowed' 'Divorced' 'Separated'
 'Married-spouse-absent' 'Married-AF-spouse']

object
 None ['Machine-op-inspct' 'Farming-fishing' 'Protective-serv' '?'
 'Other-service' 'Prof-specialty' 'Craft-repair' 'Adm-clerical'
 'Exec-managerial' 'Tech-support' 'Sales' 'Priv-house-serv'
 'Transport-moving' 'Handlers-cleaners' 'Armed-Forces']

object
 None ['Own-child' 'Husband' 'Not-in-family' 'Unmarried' 'Wife' 'Other-relative']

object
 None ['Black' 'White' 'Asian-Pac-Islander' 'Other' 'Amer-Indian-Eskimo']

object
 None ['Male' 'Female']

int64
 None [    0  7688  3103  6418  7298  3908 14084  5178 15024 99999  2597  2907
  4650  6497  1055  5013 27828  4934  4064  3674  2174 10605  3418   114
  2580  3411  4508  4386  8614 13550  6849  2463  3137  2885  2964  1471
 10566  2354  1424  1455  3325  4416 25236   594  2105  4787  2829   401
  4865  1264  1506 10520  3464  2653 20051  4101  1797  2407  3471  1086
  1848 14344  1151  2993  2290 15020  9386  2202  3818  2176  5455 11678
  7978  7262  6514 41310  3456  7430  2414  2062 34095  1831  6723  5060
 15831  2977  2346  3273  2329  9562  2635  4931  1731  6097   914  7896
  5556  1409  3781  3942  2538  3887 25124  7443  5721  1173  4687  6612
  6767  2961   991  2036  2936  2050  1111  2228 22040  3432  6360  2009
  1639 18481  2387]

int64
 None [   0 1721 1876 2415 1887  625 1977 2057 1429 1590 1485 2051 2377 1672
 1628 1902 1602 1741 2444 1408 2001 2042 1740 1825 1848 1719 3004 2179
 1573 2205 1258 2339 1726 2258 1340 1504 2559 1668 1974 1980 1564 2547
 2002 1669 1617  323 3175 2472 2174 1579 2129 1510 1735 2282 1870 1411
 1911 1651 1092 1762 2457 2231 2238  653 1138 2246 2603 2392 1944 1380
 2465 1421 3770 1594  213 2149 2824 1844 2467 2163 1816 1648 2206 2352
  419 1539  880  810  974 4356 2489 1755 3683 2267 2080  155 3900 2201
 2754]

int64
 None [40 50 30 32 10 39 35 48 25 20 45 47  6 43 90 54 60 38 36 18 24 44 56 28
 16 41 22 55 14 33 37  8 12 70 15 75 52 84 42 80 68 99 65  5 17 72 53 29
 96 21 46  3  1 23 49 67 76  7  2 58 26 34  4 51 78 63 31 92 77 27 85 13
 19 98 62 66 57 11 86 59  9 64 73 61 88 79 89 74 69 87 97 94 82 91 81 95]

object
 None ['United-States' '?' 'Peru' 'Guatemala' 'Mexico' 'Dominican-Republic'
 'Ireland' 'Germany' 'Philippines' 'Thailand' 'Haiti' 'El-Salvador'
 'Puerto-Rico' 'Vietnam' 'South' 'Columbia' 'Japan' 'India' 'Cambodia'
 'Poland' 'Laos' 'England' 'Cuba' 'Taiwan' 'Italy' 'Canada' 'Portugal'
 'China' 'Nicaragua' 'Honduras' 'Iran' 'Scotland' 'Jamaica' 'Ecuador'
 'Yugoslavia' 'Hungary' 'Hong' 'Greece' 'Trinadad&Tobago'
 'Outlying-US(Guam-USVI-etc)' 'France' 'Holand-Netherlands']

object
 None ['<=50K' '>50K']

## Q & A's

1. Source of data


Source: https://www.kaggle.com/datasets/wenruliu/adult-income-dataset


2. Brief description of data &  3. What is the target?


This data set describes the income of adults with the target being income.



4. What does one row represent? (A person?  A business?  An event? A product?)

One row represents an individual's government collected personal data.

5. Is this a classification or regression problem?


This is a binary classification problem as the intention is to classify if the income of the adult is above or below $50k.


6. How many features does the data have?


This data set will be trained using 10 features


7. How many rows are in the dataset?


There are 48842 rows


8. What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?

The foreseeable challenges would be modeling

# Wine Price (Regression)

In [463]:
df2 = pd.read_csv('/content/drive/MyDrive/Data/wines_SPA.csv')

In [464]:
# Display head to visualize dataset

df2.head()

,winery,wine,year,rating,num_reviews,country,region,price,type,body,acidity
0,Teso La Monja,Tinto,2013,4.9,58,Espana,Toro,995.00,Toro Red,5.0,3.0
1,Artadi,Vina El Pison,2018,4.9,31,Espana,Vino de Espana,313.50,Tempranillo,4.0,2.0
2,Vega Sicilia,Unico,2009,4.8,1793,Espana,Ribera del Duero,324.95,Ribera Del Duero Red,5.0,3.0
3,Vega Sicilia,Unico,1999,4.8,1705,Espana,Ribera del Duero,692.96,Ribera Del Duero Red,5.0,3.0
4,Vega Sicilia,Unico,1996,4.8,1309,Espana,Ribera del Duero,778.06,Ribera Del Duero Red,5.0,3.0

In [465]:
# Display total missing data

df2.isna().any().sum()

4

In [466]:
# Display total duplicated data

df2.duplicated().any().sum()

1

In [467]:
# Display count of rows and columns

row, col = df2.shape

print(f'Number of rows: {row}\nNumber of columns: {col}')

Number of rows: 7500
Number of columns: 11

In [468]:
# Assess the dtype, unique values, and ammount of unique values within each column


LU(df2, 'wine')

object
 wine ['Tinto' 'Vina El Pison' 'Unico' 'Unico Reserva Especial Edicion'
 'El Anejon' 'Don PX Convento Seleccion' 'Cuesta de Las Liebres' 'El Nido'
 'Toneles Moscatel' 'Pingus' 'Don PX Pedro Ximenez'
 "L'Ermita Velles Vinyes Priorat" 'Vatan Arena Tinta de Toro'
 'Ribera Del Duero Gran Reserva 12 Anos' 'Pesus Ribera del Duero' 'Magico'
 'La Faraona Bierzo (Corullon)' 'Gran Reserva 890' 'Valbuena 5o'
 'Castillo Ygay Gran Reserva Especial Blanco' 'La Nieta'
 'Malleolus de Valderramiro' 'Malleolus de Sanchomartin' 'Alabaster'
 'La Mula de la Quietud' 'Terreus Paraje de Cueva Baja' 'Contador Rioja'
 'Maria Remirez de Ganuza' 'Cartago Paraje de Pozo'
 'Parcela El Picon Tinto' 'Termanthia' 'Clon De La Familia'
 'Aquilon Garnacha' 'Quinon de Valmira' '1902 Centenary Carignan Priorat'
 'Tintilla de Rota' 'Cirsion Rioja' 'Cami Pesseroles' "Turo d'en Mota"
 'Priorat' 'Reliquia Palo Cortado Sherry' 'Anada Palo Cortado 1987'
 'Daphne Glorian Red' 'El Regollar' 'Abuelo Diego Palo Cortado'
 'La Bota 78 de Oloroso' 'Touran' 'Luthier Gran Reserva'
 'Sorte O Soro Val do Bibei' 'Reserva Particular de Recaredo Brut Nature'
 'Usted' 'Gran Reserva' 'Regina Vides Ribera del Duero' 'La Loma'
 'Recondita Armonia Monastrell Dulce'
 'Castillo Ygay Gran Reserva Especial Tinto' 'Ribera del Duero'
 'PS (Pagos Seleccionados) Ribera del Duero' 'Flor de Pingus'
 'Pago De Valtarrena' 'El Titan del Bendito' 'Dalmau Rioja'
 'Finca el Bosque' 'Pago de Santa Cruz' 'Clos Fonta Priorat'
 'Cuvee N Vinas Viejas' 'Ribera del Duero Prestigio Pago de las Solanas'
 "Nit de Nin Mas d'en Cacador" 'VS' 'Blecua Somontano'
 'Frank Gehry Selection' 'Amaya Arzuaga (Coleccion)' 'La Creu Alta'
 '5o Ano Ribera del Duero Tinto' 'Planots Priorat' 'Capitel'
 'Gran Arzuaga Ribera del Duero' 'Horcajo' 'Aurus' "Dolc de L'Obac"
 'Trasnocho' 'Doroteo Edicion Especial 25 Aniversario'
 'Tierra Alta de 2 Racimos Gran Reserva'
 'Reserva Especial Ribera del Duero' 'Reserva Especial'
 'Gran Buig Priorat' 'Finca Garbet' 'Solera India Oloroso Rare Sherry'
 'Amancio' 'Gines Liebana Pedro Ximenez' 'Don PX Seleccion' 'Reserva'
 'Finca Las Naves' 'AAA' 'Vina del Olivo' 'Les Aubaguetes Priorat'
 'Cava Enoteca Finca La Plana Brut Nature' 'Gran Reserva Penas Aladas'
 'Pena Lobera' 'Adega do Moucho Treixadura' 'Son Negre'
 'Casa Cisca Monastrell' 'Moncerbal Bierzo (Corullon)' 'Capricho'
 'Cerrado del Castillo Rioja' 'Kalamity Rioja'
 'Conde de Aldama Amontillado' 'Respeto'
 'El Garnacho Viejo de la Familia Acha' 'Ribera del Duero Prestigio'
 'Finca Misenhora Edicion Limitada' 'La Poza de Ballesteros'
 'Reserva Rioja (Finca Ygay)' 'Idus' 'Rosado de Larrainzar'
 'Valdafoz Bierzo (Corullon)' 'Rioja Gran Reserva'
 'Valdegatiles Ribera del Duero' 'Respublica Verdejo' 'Les Tosses'
 'Torremilanos Coleccion Ribera del Duero' 'El Carretil' 'Taberner No. 1'
 'Vina Motulleri' 'Saktih' 'Cuvee Palomar' 'Uno Tinto' 'Macan'
 '1903 Centenary Grenache' 'Galiano Seleccion Especial' 'Molino Real'
 'Etern Vinyes Molt Velles' '40 Aniversario Gran Reserva' 'Solera BC-200'
 'Corpinnat Enoteca Reserva Particular de Recaredo' 'Toro' 'Clio'
 'Garnacha' 'Parcela El Nogal Tinto' 'Belondrade y Lurton' 'Rioja Reserva'
 'Prado Enea Gran Reserva' 'Pedro Ximenez Tradicion 20 Years Old Vos'
 'Torre Muga' 'Aro' 'San Vicente Rioja' 'Ribera del Duero TSM'
 'Ribera Del Duero Reserva Premium 6 Anos' "Clos de L'Obac"
 'Reserva Ribera del Duero' 'Ribera Del Duero' 'Bruto'
 'Culmen Reserva Rioja' 'Vina Tondonia Gran Reserva' 'Petit Verdot'
 'Clos Martinet' 'Millenium Gran Reserva' 'Finca Dofi'
 'Gran Reserva Ribera del Duero' 'Seleccio Especial Vinyes Velles'
 'Calvario Rioja' 'Ribera del Duero Una Cepa I' 'Grans Muralles'
 'Gran Vino Albarino' 'Cuatro Palmas Amontillado' 'Pago Garduna'
 'La Cueva del Contador Rioja' 'Solera 1830 Pedro Ximenez'
 'Que Bonito Cacareaba Blanco' 'Baron de Chirel Rioja Reserva'
 'Emeritvs (Emeritus)' 'Finca Los Hoyales Ribera del Duero' 'Blanco'
 'La Basseta' 'Territorio Luthier Reserva'
 'Vinas Viejas de Soria Ribera Del Duero'
 'Pago de Santa Cruz Gran Reserva Ribera del Duero'
 'As Sortes Val do Bibei Godello' 'Seleccion Rioja' 'Millenium Reserva'
 'Acediano' 'Gaudium' 'Pico de Luyas' 'Grandes Anadas Rioja'
 'Mas Via Gran Reserva Brut' 'Navarra Coleccion 125 Blanco'
 'Chardonnay Uno' 'Don PX Vieja Cosecha' 'Ribas de Cabrera' 'Cenit'
 'Mas del Serral' 'Estrats' 'Fino Imperial Amontillado 30 Anos'
 'Coliseo Amontillado VORS' 'Vina Tondonia Gran Reserva Blanco' '8000'
 'Mironia Black Edition Tempranillo' 'Miserere' 'Alma Tobia Rioja' 'Tm'
 'Doix' 'Nebro Ribera del Duero' 'El Canto del Angel'
 'Rioja Blanco Reserva' 'Cayetano del Pino Viejisimo Palo Cortado'
 'Gratallops Partida Bellvisos' 'Coleccion Privada' 'Finca El Canto'
 'Finca Cascorrales' 'Rioja Gran Reserva 904'
 'Marques de Poley Amontillado Seleccion 1951' 'Platon Tinto'
 'Altos de Las Gateras Monastrell' 'Canta la Perdiz'
 'Marques de la Concordia VSG Premium (formerly Hacienda de Susar Rioja)'
 'Cava Kripta Gran Reserva Brut Nature' 'Alba de Miros Rueda Verdejo'
 'Pendon De La Aguilera' 'V2 Tinto' 'Celia' 'Calmo' 'Confesor Rioja'
 'La Bienquerida' 'Seleccion Especial' 'Saca Unica' 'Palomero'
 'Grano a Grano' 'Santa Ana Pedro Ximenez 1861'
 'Cuvee Julia Ribera del Duero' 'Las Lamas Bierzo (Corullon)'
 '200 Monges Rioja Reserva Seleccion Especial' 'Galia Clos Santuy'
 'Tomas Esteban' 'Finca Las Comas Verdejo' 'Diables'
 'St Antoni de Scala Dei Priorat' 'Valdegines' 'Seda de Oro Reserva'
 'Grano a Grano Graciano - Garnacha' 'Carraquintana de Amaren'
 'Garnacha Parcela 81 Vinas Viejas'
 "Cava Enoteca Finca de L'Origen Brut Nature" 'Salinas 1237'
 'Cabernet Sauvignon' 'Finca La Colina Sauvignon Blanc'
 'Dominio del Verso Red Blend' 'Altos R Pigeage Nacido en Barrica Blanco'
 'Vinyes Altes Porrera' 'La Vinya del Vuit (8)' 'Venus de la Figuera'
 'Vendetta' 'Ribera del Duero Reserva' 'Malleolus'
 'Seleccion Especial (Reserva)' 'Cosecha' 'Red' 'Vina Ardanza Reserva'
 'Roda I Reserva Rioja' '3er Ano Ribera del Duero Tinto' 'Macan Clasico'
 'Alaya Tierra (Old Vines Vieilles Vignes)' 'El Viejo'
 'Hacienda Pradolagar' '200 Monges Rioja Reserva' 'Reserva Tinto'
 'Jumilla Blue Label' 'Palo Cortado Tradicion Vors 30 Years Sherry'
 'Triga' 'Amontillado Tradicion Vors 30 Years' 'Victorino'
 'Reserva Privada Rioja' 'Pago Negralada' 'Rejon Tempranillo'
 'Interpretacion' 'Vendimia' 'Priorat Vinyes Velles' 'Tempranillo Reserva'
 'Cream Tradicion Vos 20 Years' 'Vatan Tinta de Toro' 'Dominio del Pidio'
 'Pagos Viejos' 'An' 'Numanthia' 'Suprema 30 Meses'
 'Whisba Tempranillo Aged 18 Months in Whisky Barrels' 'A Mano Rioja'
 '200 Monges Rioja Gran Reserva' 'La Hormiga de Antidoto'
 'Le Domaine Blanco de Guarda' 'Edicion Limitada'
 'Lealtanza Coleccion de Artistas Espanoles Sorolla'
 'Granja Gran Reserva Rioja' 'Perez Pascuas Gran Reserva Seleccion'
 'El Puntido Gran Reserva' 'Cuvee Old Vines Unfiltered' 'Fondillon'
 '1730 Pedro Ximenez' 'Cirerets' 'Vinas Viejas Verdejo' 'Tadeo Tinto'
 'Tierras de Cair Reserva' 'Gran Reserva Rosado' 'Cava Celler Batlle'
 'Rioja Blanco' 'Lapola' 'Clos Abella Seleccion Especial' 'Pie Franco'
 'Singular V Malcorta Verdejo' 'Serral del Vell Brut Nature'
 'Seleccion Finca el Grajo Viejo' '30 Years VORS Pedro Ximenez Sherry'
 'Malpuesto' 'Chafandin' 'La Vina de Andres Romeo Rioja'
 'Delicado Cosecha Pedro Ximenez' 'Atlantico' 'Quincha Corral'
 'Els Escurcons' 'Vinos Singulares Tempranillo Blanco Reserva'
 'Christina Ribera del Duero' 'Desti' 'Gran Reserva Classica Tinto'
 'Godello Blanco' 'Palo Cortado 1/10' 'Fourth Edition'
 'Seleccion de Anada Albarino Rias Baixas' 'Albarino de Fefinanes III Ano'
 'Perpetual' 'El Cel' 'Montes Obarenes Seleccion Terroir'
 'Porrera Vi de Vila' 'Gran Ribera del Duero' 'Heretge Priorat'
 'Vinas Viejas' 'Sibarita Oloroso Jerez-Xeres-Sherry 30 Years V.O.R.S'
 '17' 'Clos del Portal Tros de Clos' 'Classic' 'Minami'
 'Vi de Vila Gratallops' 'Veguin de Murua Gran Reserva'
 'O Luar do Sil Valdeorras Godello Sobre Lias' 'Teixar'
 'Anada Pedro Ximenez' 'Clos del Portal Somni' 'Les Manyes'
 'Emporda Aires de Garbet' 'Montes de Toledo Syrah'
 'Maceracion Con Pieles' 'Clos Monlleo' 'B.Rodriguez La-Cave Quo Vadis?'
 'La Solana Alta' 'Rioja Reserva 10 Anos Despues Edicion Limitada'
 'Perinet + Plus' 'Vina de Martin Escolma Ribeiro'
 'Ribera del Duero Torralvo' 'El Cabernet F - Familiar' 'Premium'
 'Hipperia Red Blend' 'Maria Ribera del Duero' 'Vendimia Seleccionada'
 'Clos Figueres' 'Castillo de Monte la Reina Cuvee Privee'
 'Amontillado Saca' 'Queiron Reserva Vinedos Familiares'
 'Don PX Gran Reserva' 'Llanos del Almendro Ribera del Duero'
 'Dolc Mataro' 'Toro 2V Premium' 'Les Eres Vinyes Velles'
 'Gran Reserva Classica Blanco' 'The Artist'
 'Amontillado 30 Years Old V.O.R.S Sherry'
 'La Comtesse de Pazo Barrantes Albarino' '5V Blanco'
 'Finca Butaros Vinya Centenaria' 'Seleccion Privada'
 "Aponte Winemaker's Private Collection Tempranillo" 'Cami de Cormes'
 '1194' 'Malabrigo Ribera del Duero' 'Old & Plus Pedro Ximenez'
 'Reserva Trajanvs' 'No. 2 Victoria' 'Emporda Gran Claustro'
 'Lalomba Finca Valhonta' 'Manyetes' 'Pago Valdebellon'
 'Guarda de Leda Seleccion Tempranillo' 'Nun Vinya dels Taus'
 'Lo Cortinelo.Lo Blanc' '5 Partides Gratallops Vi de La Vila'
 'Cava Ex-Vite Gran Reserva Brut' 'Summa Edicion Limitada'
 'Pago El Espino' 'Gloria Rioja' 'Petra de Valpiedra Garnacha'
 'Alto de la Caseta' 'Mas de la Rosa' 'Rioja B70' 'Don Miguel'
 'Singular Negre' 'Rioja Reserva Especial' 'Rioja Cisma' 'Martires Rioja'
 'Cava Original Brut (Espumos)' 'Marti Reserva Penedes'
 'Vina Ardanza Reserva Seleccion Especial' 'Oloroso 30 Years Old V.O.R.S'
 'Pozo Alto' 'El Cristo de Samaniego' 'El Belisario'
 'Baron de Ona Rioja Reserva' 'Cepas Vellas Rias Baixas Albarino'
 'La Aguilera' 'Pirata' 'Hispania' 'Arousa' 'Las Cenizas Tempranillo'
 'Solanes Priorat' 'Cava Cuvee De Prestige Trepat'
 'Felix Azpilicueta Coleccion Privada' 'Savinat Sauvignon Blanc'
 'Capricho Crianza' 'Finca La Emperatriz Vinedo Singular Tinto' 'Galena'
 'Solera PAP Palo Cortado Rare Sherry' 'Finca Helena' 'Primordium'
 'La Cuartilleja Reserva' 'Noble' 'De Garage Rioja' 'Gran Calzadilla'
 '4 Varietales Coleccion Rioja' 'Oloroso' 'Numerus Clausus'
 '200 Monges Rioja Seleccion Especial Reserva Blanco'
 '30 Years V.O.R.S Very Old Palo Cortado Blend Medium Sherry'
 'Campus Gothorum' 'La Pizca' 'La Bota 90 de Manzanilla Pasada'
 'Moradillo de Roa' 'Cofradia' 'Stairway To Heaven Rosado' 'La Silleria'
 'Planella' 'Gallaecia Rias Baixes Albarino' 'Monada' 'Verdejo'
 'Vina Garugele' 'Barrica' 'Voltons' 'Ekam Essencia'
 'Valcavado de Traslascuestas' 'Oscar Tobia Gran Reserva Rioja'
 'La Baixada' 'Seleccion' 'Cava El Tros Nou Pinot Noir'
 'Los Dominios de Berceo Prefiloxerico' 'Old & Plus Amontillado'
 'Sao Expressiu' 'Onomastica Rioja Reserva' 'Vina Arana Gran Reserva'
 'Carinena Parcela 15 Vinas Viejas' 'Vobiscum' 'La Navilla'
 'Merlot - Syrah' 'Casta Diva Cosecha Miel Moscatel Dulce'
 'Pago de Las Costanas' 'Cava Gran Reserva Familiar Millenium Brut'
 'Zona Zepa Monastrell' 'Alma Tobia Blanco' 'Garnacha Vinas Centenarias'
 'El Jardin de las Iguales Vinedo Historico Garnacha'
 'Silvanus Edicion Limitada Ribera del Duero' 'San Valentin Parellada'
 'Vina Tondonia Reserva' 'PSI' 'Ribera del Duero Crianza'
 'Mas La Plana Cabernet Sauvignon' 'Crianza Tinto'
 'Bosque de Matasnos Etiqueta Blanca' 'Matusalem Sherry VORS'
 'Reserva Seleccion de la Familia' 'Apostoles 30 Years Old Sherry'
 'Gran Reserva Rioja (Finca Ygay)' 'El Puntido'
 'Don Guido Pedro Ximenez Solera Especial Aged 20 Years'
 'Gran Reserva Rioja' 'La Baraja' 'Finca Malaveina' 'Reserva XR'
 'Alenza Ribera del Duero Gran Reserva' 'Chardonnay Fermentado en Barrica'
 'Alicante Bouschet by Tarima' 'Oloroso Tradicion Vors 30 Years'
 'Dominio de Atauta' 'Crianza' 'Laurel' 'Seleccion La Aguilera'
 'Finca Martelo' 'Pedro Ximenez Murillo Seleccion del Centenario' 'Mirto'
 'I Gran Reserva' 'Roda Reserva Rioja' 'Rioja Vina Coqueta'
 'Vermello Vermu' 'Capellania Reserva' 'Los Tabaqueros'
 'Torre Albeniz Reserva Ribera del Duero' 'Finca El Otero'
 'Familia Comenge Reserva' 'Tierra Alta de 2 Cotas Reserva'
 'Fagus de Coto de Hayas Garnacha' 'Finca Terrerazo' 'Godello'
 'Godina Garnacha' 'QS' 'Don Miguel Comenge Reserva' '3.9'
 'Finca Iscorta Gran Reserva' 'Finca Biniagual Veran' 'Brega Garnacha'
 'Elite' 'La Mar' 'Nelin Priorat' 'Arcos de la Frontera' 'Albarino'
 'Cepas Vellas Godello' 'Las Sabias' 'Cerro Anon Rioja Gran Reserva'
 'Ekam' 'Masdeu' 'Pantocrator' 'Senorio de Cuzcurrita Rioja'
 'Silencio de Miros Ribera Del Duero' 'Queiron Mi Lugar'
 'Purgatori Costers del Segre' 'Perfume de Sonsierra' 'Chardonnay Roure'
 'Rioja Graciano' 'ARX Arcos de la Frontera'
 'Navarra Reserva Coleccion 125' 'Venus' 'Grillo' 'Prieto Picudo' 'Sofia'
 'Finca Cuesta Clara Raro Reserva' 'Fermentado En Barrica Blanco'
 'Ribera Del Duero Gran Reserva'
 'Vinya La Scala Gran Reserva Cabernet Sauvignon'
 'Atteca Armas Garnacha Old Vines' 'Syrah (Shiraz)' 'Campo Eliseo'
 'Vinas Viejas Tempranillo' 'Vitium Reserva' 'Lo Cabalo Reserva'
 'Finca Matambres' 'Suzzane Rioja' 'Giro de Abargues'
 'Reserva Vermouth Rojo' 'Punta Esencia' 'Pla dels Angels Rosado' 'Uro'
 'Tras da Vina Albarino' 'Masia Carreras Negre' 'Branco Vermu'
 'Palmeri Navalta Garnacha' 'La Plazuela' 'Solar de Estraunza Reserva'
 'III a.C' 'Matallana' 'Rioja Norte' 'Artigas' 'Julia'
 'Jerez-Xeres-Sherry 30 Year Old Oloroso VORS' 'Pancrudo' 'Aurea'
 'Coleccion Syrah' "Flor de Primavera Peraj Ha'abib"
 'Altos de Losada El Cepon' 'Gran Vino Blanco'
 'Crianza Vendimia Seleccionada' 'Vermouth Reserva' 'Finca Azaya Premium'
 'Ribera del Duero Tinto' 'No. 20' 'La Casilla Amontillado' 'Palo Cortado'
 'Martelo Reserva' 'Vintage Albarino' 'Cardenal Palo Cortado VORS'
 'Vallegarcia Viognier' 'Finca la Atalaya Reserva'
 'Clos Cypres Vinyes Velles (Old Vines)' 'Castineiro Albarino'
 'Amontillado V.O.R.S' 'Altar' 'Gran Barquero Palo Cortado Solera 25 Anos'
 'Toro Gran Elias Mora' 'Arnau Oller Seleccio de la Familia' 'Orbus'
 'Malbec' 'Altos de Losada' 'Reserva Especial Rioja' 'La Time'
 'Vendimia Tardia Moscatel' 'Hiru 3 Rioja Racimos' 'Triaca'
 'Amontillado 51-1a 30 Years VORS Sherry' 'Cyclo' 'Maimo Garnatxa'
 'Fos Baranda' 'Finca la Oracion' 'Albarino Pedralonga' 'Mas de Masos'
 'Com Tu' 'El Rocallis' 'Iugiter' 'Ultreia Valtuille Mencia'
 'La Chispa Negra' 'Sauvignon Blanc' 'Clos Adrien' 'Laderas Rioja'
 'Blanco de Parcela' 'Finca la Beata Bobal' 'Resalte Expresion'
 'Cava Brut Milesime' 'Syrah de Matasnos'
 'Massipa de Scala Dei Garnatxa Blanca - Xenin' 'Nunci Negre'
 'Oloroso Extra Viejo 1/7' 'Musivari Gran Reserva Brut Nature'
 'Faustino de Autor Reserva Especial' 'Vinas Viejas Aguilera'
 'Juan Piernas Finca El Paso Malo Monastrell' 'Pedra de Guix'
 'Vinyes Velles de Samso' 'Malvasia' 'La Bota 69 de Amontillado'
 'Antigues Reserves' 'Baron de Chirel Verdejo Vinas Centenarias'
 'Milagros de Figuero' 'Las Botas Palo Cortado Horizontal'
 'La Riva Fino Balbaina Alta' 'Coma Bruna'
 'Palo Cortado de la Cruz de 1767' 'Grano a Grano Tempranillo' "S'Alou"
 'Altos R Pigeage' 'Finca Monteviejo' 'Habis' '5o Ano' 'Gaminde'
 'Varietal Fermentacion Lenta' 'El Cordero y las Virgenes'
 'Selection 1884 Vermouth Gran Reserva' 'Garnacha Tintorera'
 'Penalba Lopez Blanco' 'Cabernet' 'El Cuentista'
 'Tahulla Moscatel Blanco Seco' 'Juegabolos' 'Sketch' 'Montsalvat'
 'Sio Negre' 'Pago de Otazu Chardonnay Con Crianza'
 'Verdejo Fermentado en Barrica' 'Vinyes Altes de Les Garrigues Vi Blanc'
 'Vina Centenaria Mencia' 'Cerro del Lobo Syrah' 'Summum Monastrell'
 'Finca La Herradura' 'Alma de Mar Albarino' 'Canasta 20 Anos Cream'
 'Rioja Anadas Frias' 'Monreal' '8 Vents Mallorca'
 "Vd'O 1 Samso - Pissarra" 'Cava Gran Reserva La Capella Brut'
 'Coleccion No. 3 Cosecha' 'Albarino Sobre Lias' 'Nobbis'
 'Rara Avis Prieto Picudo' 'Sensal' 'Campo Eliseo Blanco' 'Blanc de Neu'
 'T3rno Seleccion de 3 Parcelas Ribera del Duero' 'Fino La Barajuela'
 'Parcelas de Maturana Tinta Coleccion Rioja' 'Reserva Real'
 'Attis Embaixador Albarino' 'Vitola Reserva' 'San Cucufate Monasterio'
 'Tras Los Muros Albarino' 'CM Tinto'
 'La Loma & Los Santos Garnacha Blanca - Macabeo'
 'Gratallops Escanya-Vella' 'Lalomba Finca Ladero' 'Oloroso En Rama'
 'El Reventon Cebreros'
 'Amontillado Napoleon Vinos Viejos 30 Year Old Sherry'
 'Navarra Vendimia Tardia Coleccion 125' 'Manar dos Seixas'
 '200 Monges Edicion Exclusiva Blanco Reserva' 'Eolic Sauvignon Blanc'
 'Finca Valmediano Tinta de Toro 16 Meses Barrica' 'Cantos del Diablo'
 'Teofilo Reyes Crianza' 'Falguera' 'Epistem No. 3'
 'Angel Ribera del Duero' 'Pleret' 'A Torna dos Pasas Escolma Ribeiro'
 'Costers Del Segre 1780' 'Ines' 'Honoris' 'La Revelia Godello'
 'Club Rioja Reserva' 'Camino del Abuelo Vinas Viejas'
 'La Morera de San Lazaro' 'Quintanilla' 'Salvaxe'
 'Vi De Glass Gewurztraminer' 'Finca Los Quemados' 'Albarino (O Rosal)'
 'Rioja' 'Vino de Autor Ribeiro Blanco'
 'Argila Reserva 3 Anys Brut Nature' 'Octogenarius' 'Finca La Pedrissa'
 'Magister' 'Ribera del Duero Vendimia Seleccionada VT'
 'Porcellanic VI Xarel-lo Sur Lie' 'Sibila'
 'Emporda Reserva Especial Don Miguel Mateu' '200 Cestos Godello'
 'Heaven & Hell' 'Cabrida Montsant' 'Suane Blanco' 'Pinot Noir'
 'Cerro La Isa Blanco' 'Cuvee Verdejo' 'Anadelia' 'Tabuerniga'
 'Seleccion Especial Verdejo' "Coster d'en Fornos" 'Malvasia Volcanica'
 'Laderas de Inurrieta' 'El Velado Tinto' 'Blanco Afrutado' 'A Pita Cega'
 'Naiades' 'Fuenmayor Gran Reserva' 'Mirador de Navajas Reserva Rioja'
 'Coleccion Roberto Amillo Amontillado' '1730 Amontillado'
 'Cerro La Isa Garnacha' 'Nus del Terrer' 'Nivel' 'Le Rose'
 'Pago de las Sabinas' 'Old & Plus Oloroso'
 'Coleccion Roberto Amillo Palo Cortado' 'Gueta-Lupia' 'Marmajuelo'
 'Cava Reserva Especial Chardonnay Brut Nature'
 'Ribera del Duero Vendimia Seleccionada' 'No. 23'
 'Las Iruelas El Tiemblo' 'V Dulce de Invierno' 'Diego Magana' 'Graciano'
 'Cerro Las Cuevas Seleccion Terroir' 'Altos R Pigeage Graciano' 'Ronda'
 'Nisia Las Suertes Verdejo Old Vines' 'Territori' 'Alomado'
 'Selma de Nin Blanco' 'Senda de Los Olivos Roble' 'Mucho Mas Tinto'
 'Coto de Imaz Rioja Gran Reserva' 'Vina Alberdi Reserva'
 'Rias Baixas Albarino Atlantico' '27 Ribera del Duero'
 'Terras Gauda O Rosal' 'Salmos' 'Vina Bosconia Reserva' 'Louro Godello'
 'La Atalaya del Camino' 'Rioja 150 Aniversario' 'Veraton Garnacha'
 'Alexander vs. The Ham Factory' 'Vina Alberdi Crianza'
 'Taberner Tierra de Cadiz' 'Gessami' 'Finest Old Harvest Medium'
 'Ribera del Duero Red' 'Corimbo I' 'Vermut Rojo'
 'Vina Tondonia Reserva Blanco' 'Reserva 5 Ano'
 'Del Duque Amontillado Sherry VORS' 'Les Terrasses Velles Vinyes Priorat'
 'Les Terrasses Laderas de Pizarra' 'Inici' '5 Finques (Fincas) Reserva'
 'Martinet Bru (Garnatxa - Syrah)' 'Ribera Del Duero Reserva' 'Muscat'
 'Angeles de Amaren Tempranillo - Graciano' 'Bassus Pinot Noir'
 'Sericis Cepas Viejas Monastrell' 'Rioja Reserva Fincas de Ganuza'
 'Corpinnat Terrers Brut Nature'
 'Dos Cortados Palo Cortado Solera Especial Aged 20 Years'
 'Oscar Tobia Reserva Rioja' 'Rioja Satinela Blanco Semidulce'
 'Clos del Portal Negre de Negres' 'Solideo' 'Preludio'
 'Reserva Tempranillo' 'Coma Vella Priorat' 'Las Ocho (8) Tinto'
 'Pago de los Balagueses Syrah' 'Bagus Ribera del Duero'
 'Formiga de Vellut' 'Tierra Alta En 2 Maderas' 'Propiedad  Rioja'
 'Reserva Especial Icon Edition' 'Antique Palo Cortado'
 'Vina Lanciano Reserva'
 'Jalifa Amontillado Rare Old Dry Solera Especial Aged 30 Years'
 'La Felisa' 'Milmanda' 'Envidiacochina (Tete de Cuvee)' 'Adaro'
 'Fondillon Gran Reserva' 'Monastrell - Syrah Finca Espolla' 'Santa Rosa'
 'Roc Nu' 'Rias Baixas Albarino Finca Valinas' 'Treixadura'
 'Candela Cream Dulce Sweet' 'Nounat' 'Les Brugueres']

## Q & A's

1. Source of data

Source: https://www.kaggle.com/datasets/sagnik1511/car-insurance-data


2. Brief description of data.  


This data set describes the annual car insurance data of an insurance company. 


3. What is the target?


The target is price of wine given featured data.


4. What does one row represent? (A person?  A business?  An event? A product?)

One row represents a bottle of wine.

5. Is this a classification or regression problem?


This is a regression problem as the goal is to determine the continuous value, price.


6. How many features does the data have?


This data set will be trained using 8 features.


7. How many rows are in the dataset?


There are 7500 rows.


8. What, if any, challenges do you foresee in cleaning, exploring, or modeling this dataset?

There are a myriad of catagorical columns containing highly unique data elements such as winery location, types of wine, body of wine, etc.
The immediate foreseeable challenge will be determining the type of statistical variable to assign each column.